<h1>Search a movie</h1>

<!--redirect to \result and it will handle the search term-->
<form action="\result" method="GET">
    <input type="text" placeholder="search" name="search">
    <input type="submit">
</form>
